@font-face {
    font-family: 'ZCOOL KuaiLe';
    src: url('assets/ZCOOLKuaiLe-Regular.ttf') format('truetype'); /* Adjust the path and font format */
    /* Add additional src lines for other font formats if needed */
    font-weight: normal;
    font-style: normal;
}


h1{
    font-family:'ZCOOL KuaiLe', sans-serif;
    color:pink;
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    position: relative;
    text-align:center;
    z-index: 1; 
}

css-doodle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
}

